* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border: border-box;
}
.nav-bar{
    background-color: black;
    height: 60px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}
.nav-logo{
    display: flex;
    color: white;
    height: 25px;
    align-items: center;
}
.nav-logo p {
    margin-left: 2.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
border{
    border: 0.7px solid transparent;
    
}
.border:hover{
    border: 0.7px solid white; 
    border-radius: 5px;
}
.nav-search{
    display: flex;
    align-items: center;
    height: 40px; 
    width: 550px;  
}
.nav-search .options{
    margin: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    height: 27.2px;
    background-color: #f3f3f3;
    text-align: center;
 

}
.nav-search .search-bar {
    margin: none;
    height: 24px;
    text-align: center;
    width: 450px;
}
.search-icon{
    width: 30px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(16, 132, 199);
    margin: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 27.2px;
}
.watch-list{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.watch-list p {
    color: white;
    

}
.watch-list a {
    text-decoration: none;
    display: flex;
    margin: 3px;
    text-align: center;
}
.time-icon{
    height: 24px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;

}
/* ************************* */
.nav-liked{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-liked a {
    text-decoration: none   
}
.nav-liked p {
    color: white;
    margin: 3px;
}
.liked-icon {
    height: 24px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* ************************* */
.nav-downloads{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-downloads a {
    text-decoration: none;
}
.nav-downloads p {
    color: white;
    margin: 3px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
    margin-top: 6px ;
}
.downloads-icon{
    height: 24px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}
/* ************************* */
.nav-user{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-user a {
    text-decoration: none;
}
.user-icon{
    height: 24px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}
.nav-user p {
    color: white;
    margin: 3px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
    margin-top: 6px ;
}
.nav-menu {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-icon{
    height: 24px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}
/* ******************************* */
.main-section{
    background-image: linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.7)) ,url(GunturKaaram.png);
    height: 700px;
    background-size: cover;
}

